#
# @file
# Google Shopping gitignore file.
#
# @version 0.2.1
#

# VI temporary files
.*.swp
.*.swo

# Gedit temporary files
*~

# Temporary directories
tmp

# Mac Desktop Services Store
.DS_Store

# Windows Thumbnails
Thumbs.db

# Subversion
.svn

# Eclipse
.classpath
.project

#
# Node.js
#

# Node Package Manager debugging log
npm-debug.log

# Node modules
node_modules

#
# Others
#
.monitor
.settings
